.layout {
  font-family: "Times New Roman", Times, serif;
}

nav {
  padding: 1rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: #f0edee;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  color: #6e6d6d;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #d4d3d3;
}

#price {
  color: rgb(208, 116, 116);
}

img {
  height: 370px;
  width: 370px;
  margin-bottom: 2rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: #f0edee !important;
  margin-top: 2rem;
  width: 400px;
  padding: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card button {
  margin-right: 2rem;
}
.addProperty,
.updateProperty,
.signUp,
.signIn {
  margin: 4rem;
}

form {
  margin-top: 2rem;
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
  background-color: #f0edee;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}
form input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

form input:focus {
  border-color: #7b2121;
  outline: none;
}

form button {
  width: 95%;
  padding: 10px;
  background-color: #b7b7b7;
  color: rgb(15, 14, 14);
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 2rem;
}

form button:hover {
  background-color: #9c9b9b;
}

.details-card{
  display: flex;
  justify-content: center;
}